.App {
  text-align: center;
}

.transition {
  transition: .2s;
}

.filler {
  height: 2000px;
}

.clearfix {
  width: 100%;
  overflow: auto;
  margin: 0;
  text-align: center;
  color: #ffffff;
}

.dark {
  background-color: #1d1d1d;
}

.gray {
  background-color: #444444;
}